body {
    background-color: lightgrey;
}

.jumbotron {
    margin-top: 20px;
}

.weekHeader {
    color: lightgrey;
}

.navbar-brand {
    margin-left: 50px;
}

.tableHeader {
    text-align: center;
    color: lightgrey;
}

.navbar-nav {
    margin-right: 50px;
}

.card-body {
    text-align: center;
}

.card {
    margin-top: 20px;
}

.card:last-child {
    margin-bottom: 30px;
}

.table {
    margin-top: 20px;
}

footer {
    height: 50px;
    background-color: #222529;
}